```css
/* 초기화(전체 적용) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
		/* 
    box-sizing에는 2가지 종류가 있어요!
    content-box : 지정한 CSS width 및 height를 컨텐츠 영역에만 적용해요
                -> 전체 영역이 설정값보다 커질 수 있어요 (border, padding, margin이 따로 계산되기 때문)
    border-box : 지정한 CSS width 및 height를 전체 영역에 적용해요
                -> 컨텐츠 영역이 설정값보다 적어질 수 있어요 (border, padding, margin을 모두 합산하기 때문)
    */
}

/* 슬라이스로 보여줄 구간의 높이, 넓이 설정 */
#slideShow {
  width: 500px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  overflow: hidden;
  /* 리스트 형식으로 이미지를 가로방향 일렬로 정렬할 예정!
    따라서, width(500px)의 밖에 위치한 이미지는 hidden으로 숨겨줍니다 */
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px;
  transition: left 0.5s ease-out;
}

.slides > li:first-child {
    margin-left: 100px;
}

/* 슬라이드를 옆으로 정렬 */
.slides > li:not(:last-child) {
  float: left;
  margin-right: 100px;
}

.slides > li {
  float: left;
}

.slideImage {
  width: 300px;
}

.controller > span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
